<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pms.com.mobile"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.stamppop.pixter.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.stamppop.pixter.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="Main"
                android:theme="@style/AppBaseTheme"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
                android:name=".push.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.GCMTest" />
            </intent-filter>
        </receiver>
        <service android:name=".push.GcmIntentService" />

    </application>
</manifest>
